body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top-half {
    position: relative;
    flex: 1;
    background: linear-gradient(to bottom right, #ff00ff, #800080);
    color: #fff;
    padding: 20px;
    text-align: center;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.3s ease;
    text-decoration: none; /* Remove underline */
}

.button:hover {
    background-color: #eee;
    color: #333;
    transform: scale(1.1);
}

.bottom-half {
    background-color: rgb(0, 10, 31);
    padding: 20px;
}

.feature-box {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.1);
}

.feature-box h3 {
    color: #333;
}

.feature-box p {
    color: #000000;
}